## 1.

In [ ]:
import numpy as np

In [5]:
a = np.arange(10,110,10)
print(a)

[ 10  20  30  40  50  60  70  80  90 100]

## 2.What is the data type for 4?

INTEGER

## 3.

In [10]:
Z_list = [z for z in range(0,5)]
y_list = [Z_list for y in range(0,4)]
x_list = [y_list for x in range(0,3)]

x_array = np.array(x_list)
print(x_array.shape)
print(x_array.ndim)

(3, 4, 5)
3

## 4.

In [29]:
import pandas as pd
columns = ['name', 'age', 'gender', 'job']
A = pd.DataFrame([['alice', 19, "F", "student"],
['john', 26, "M", "student"]],
columns=columns)

B  = pd.DataFrame([['eric', 22, "M", "student"],
['paul', 58, "F", "manager"]],
columns=columns)

C = pd.DataFrame(dict(name=['peter', 'julie'],
age=[33, 44], gender=['M', 'F'],
job=['engineer', 'scientist']))

D = pd.DataFrame(dict(name=['alice', 'john', 'eric', 'julie'],
height=[165, 180, 175, 171]))
print(D)

    name  height
0  alice     165
1   john     180
2   eric     175
3  julie     171

In [48]:
A.append(B)
X = pd.concat([A, B, C ])
print(X)

    name  age gender        job
0  alice   19      F    student
1   john   26      M    student
0   eric   22      M    student
1   paul   58      F    manager
0  peter   33      M   engineer
1  julie   44      F  scientist

C:\Users\Msc 1\AppData\Local\Temp\ipykernel_2360\162495486.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  A.append(B)

In [49]:
merge_inter = pd.merge(X, D, on="name")
print(merge_inter)

    name  age gender        job  height
0  alice   19      F    student     165
1   john   26      M    student     180
2   eric   22      M    student     175
3  julie   44      F  scientist     171

## 5.

## From This we can say that for bachelors management Y has paid salary in the range -15000-17000, management N has paid in the range 16250-12500
## ->Salary for Phd Edu is in the range 23000-21000 for management y and 12000-13000 for managemnt N
## ->salary for Mater  by Management Y is 22500 -26000 and By management N is 17500-12500
## Bachelors are paid least and Masters are paid highest

## 6. For this question we do t-test

In [38]:
import numpy as np
data= [ 1.83, 1.83, 1.73, 1.82, 1.83, 1.73, 1.99, 1.85, 1.68, 1.87]
xbar = np.mean(data) # Mean of the data 
mu0 = 1.75  # Given mu value
s = np.std(data, ddof=1) #  standard deviation
n = len(data) # sample size
a = (xbar - mu0) / (s / np.sqrt(n))
print(a)

2.3968766311585883

## 9.

In [54]:
series = pd.Series(['adi','kumar','sathya','pavan','srihari','saideava,','vamsee','swaroop','lalith','ani','aharneish'])
vowel = (['a','e','i','o','u'])

print(series)

0           adi
1         kumar
2        sathya
3         pavan
4       srihari
5     saideava,
6        vamsee
7       swaroop
8        lalith
9           ani
10    aharneish
dtype: object