In [2]:
import numpy as np  
import pandas as pd
print(pd.__version__)

1.4.3

## 2. How to create a series from a list, numpy array and dict?

In [3]:
mylist = ('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
d    3
e    4
dtype: int32

## 3. How to convert the index of a series into a column of a dataframe?

In [4]:
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     d  3
4     e  4

## 4. How to combine many series to form a dataframe?

In [5]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## 5. How to assign name to the series’ index?

In [6]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'kumar'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: kumar, dtype: object

## 6. How to get the items of series A not present in series B?

In [7]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

## 7. How to get the items not common to both series A and series B?

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([3, 4, 5, 6, 7])  #create the series
union = pd.Series(np.union1d(ser1, ser2))# union of the series
intersect = pd.Series(np.intersect1d(ser1, ser2))  # intersection of the series
notcommonseries = union[~union.isin(intersect)] # uncommon elements in both the series
print(notcommonseries)

0    1
1    2
5    6
6    7
dtype: int64

## 8.How to convert a numpy array to a dataframe of given shape?

In [9]:
my_array = np.array([[11,22,33],[44,55,66]])
df = pd.DataFrame(my_array, columns = ['Column_A','Column_B','Column_C'])  #creating a dataframe which assisgns array values to the columns
print(df)
print(type(df))

   Column_A  Column_B  Column_C
0        11        22        33
1        44        55        66
<class 'pandas.core.frame.DataFrame'>

## 9. How to get frequency counts of unique items of a series?

In [10]:


series = pd.Series([10,10,20,30,40,30,50,10,60,50,50])
print("Series:\n", series)

frequency = series.value_counts()
print("\nFrequency of elements:\n", frequency)

Series:
 0     10
1     10
2     20
3     30
4     40
5     30
6     50
7     10
8     60
9     50
10    50
dtype: int64

Frequency of elements:
 10    3
50    3
30    2
20    1
40    1
60    1
dtype: int64

## 10.  How to extract items at given positions from a series

In [11]:
import pandas as pd
num_series = pd.Series(list('2390238923902'))
element_pos = [0, 2, 6, 11]
print("Original Series:")
print(num_series)
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
dtype: object

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
dtype: object

#  11. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [12]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

# 12.. How to get frequency counts of unique items of a series?

In [13]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

h    7
a    7
c    5
f    4
d    3
e    2
b    2
dtype: int64

# 13. How to convert a numpy array to a dataframe of given shape? (L1)

In [14]:
ser = pd.Series(np.random.randint(1, 10, 35))


df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  5  1  2  5  5
1  4  5  9  4  9
2  1  6  5  2  9
3  3  9  7  1  2
4  9  6  9  4  1
5  1  5  8  9  4
6  2  4  6  2  8

# 14. How to extract items at given positions from a series

In [15]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

# 15.  How to stack two series vertically and horizontally ?

In [16]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Output
# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

C:\Users\Msc 1\AppData\Local\Temp\ipykernel_9708\3514173858.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(ser2)

#  16. How to get the positions of items of series A in another series B?

In [17]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

# 17.  How to convert the first character of each element in a series to uppercase?

In [18]:
# Input
ser = pd.Series(['hi', 'hello', 'sai', 'ram?'])

# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

0       Hi
1    Hello
2      Sai
3     Ram?
dtype: object

# 18. How to calculate the number of characters in each word in a series?

In [19]:
# Input
ser = pd.Series(['hi', 'hello', 'sai', 'ram?'])

# Solution
ser.map(lambda x: len(x))

0    2
1    5
2    3
3    4
dtype: int64

# 19  How to compute difference of differences between consequtive numbers of a series?

In [20]:
# Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

# 20. How to compute the euclidean distance between two series?

In [21]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# Solution 
sum((p - q)**2)**.5

# Solution (using func)
np.linalg.norm(p-q)

18.16590212458495

# 21. How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?

In [22]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

# Solution
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  3.666667
1  banana  6.333333
2  orange  7.333333

# 22. How to replace both the diagonals of dataframe with 0?

In [23]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

# Solution
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
print(df)

    0   1   2   3   4   5   6   7   8   9
0   0  29  44  41  87  91  40  21  47   0
1  50   0  76  49  96  89   4  38   0  62
2   1  43   0  81   7  12  59   0  93  51
3  80  16  14   0  11  62   0  18  36   3
4  60  35  30  82   0   0  83  62  45  37
5  54  48  74  87   0   0  49  54  14  16
6  49   5  30   0  81  98   0  89  91  48
7  56  42   0  97  64  86  75   0  38  55
8  54   0  21  14  41  25  76  65   0  21
9   0  27  48  24  24  68  51  51  68   0

# 23. How to reverse the rows of a dataframe?

In [24]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

# Solution 1
df.iloc[::-1, :]

# Solution 2
print(df.loc[df.index[::-1], :])

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

# 24. How to swap two rows of a dataframe?

In [25]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

# Solution
def swap_rows(df, i1, i2):
    a, b = df.iloc[i1, :].copy(), df.iloc[i2, :].copy()
    df.iloc[i1, :], df.iloc[i2, :] = b, a
    return df

print(swap_rows(df, 1, 2))

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

# 25 .How to find the position of the nth largest value greater than a given value?

In [26]:
ser = pd.Series(np.random.randint(1, 100, 15))

# Solution
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())[1]

ser:  [14, 24, 95, 26, 88, 96, 81, 67, 98, 64, 7, 40, 9, 2, 73] mean:  52

ValueError: Length of values (1) does not match length of index (15)

# 26 . . How to split a text column into two separate columns?

In [ ]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

# Solution
df_out = df.row.str.split(',|\t', expand=True)

# Make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

# 27 . How to get the frequency of unique values in the entire dataframe?

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

# Solution
pd.value_counts(df.values.ravel())

# 28 . How to get the positions where values of two columns match?

In [ ]:
# Input
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

# Solution
np.where(df.fruit1 == df.fruit2)

# 29. How to remove rows from a dataframe that are present in another dataframe?

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'orange', 'banana'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.arange(9)})

df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'weight': ['high', 'medium'] * 3,
                    'price': np.arange(6)})


# Solution
print(df1[~df1.isin(df2).all(1)])


# 30 .How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

# Solution
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

# 31. How to rename a specific columns in a dataframe?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

# 32.  How to check if a dataframe has any missing values?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

# 33. How to count the number of missing values in each column?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

# 34. How to replace missing values of multiple numeric columns with the mean?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

# 35 . How to set the number of rows and columns displayed in the output?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
# df

# 36. How to filter every nth row in a dataframe?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

# 37 . How to get the row number of the nth largest value in a column?

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Solution
n = 5
df['a'].argsort()[::-1][n]

# 38. Which column contains the highest number of row-wise maximum values?

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

# Solution
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

# 39. How to create a column containing the minimum by maximum of each row?

In [ ]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution 1
min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)

# Solution 2
min_by_max = np.min(df, axis=1)/np.max(df, axis=1)

# 40  How to replace both the diagonals of dataframe with 0?

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

# Solution
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0

# 41 How to import only specified columns from a csv file?

In [27]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

# 42. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

# 43 . How to rename a specific columns in a dataframe?

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.columns.values[2] = "CarType"
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

# 44.How to check if a dataframe has any missing values?

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

True

# 45.  How to count the number of missing values in each column?

In [32]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

# 46. How to set the number of rows and columns displayed in the output?

In [33]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

# 47. How to format all the values in a dataframe as percentages?

In [34]:
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

# 48.How to get the positions where values of two columns match?

In [37]:
# Input
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

# Solution
np.where(df.fruit1 == df.fruit2)

(array([6, 9], dtype=int64),)

# 49.  How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [38]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 2    5
3    3
1    3
4    1
dtype: int64

0         2
1         2
2         2
3         2
4         3
      ...
7     Other
8         2
9     Other
10        3
11    Other
Length: 12, dtype: object

# 50 . How to get the positions of items of series A in another series B?

In [39]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]